body {
    background-image: url("backgrounds/background4.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

p {
   	font-family: 'Shadows Into Light', cursive;
}

h1 {
    font-size: 1.8em;
    margin: 10px 0 10px 0;
	font-family: 'Shadows Into Light', cursive;
}

h2 {
    font-size: 1.5em;
    margin: 10px 0 10px 0;
	font-family: 'Shadows Into Light', cursive;
}

header {
    max-height: 200px;
    background-color: white;
    width: 100%;
	font-size: 0.9em;
	font-family: 'Shadows Into Light', cursive;
	border-radius: 4px;
	text-align: center;
}

footer {
    text-align: center;
    bottom: 0;
    min-height: 30px;
    width: 100%;
    background-color: white;
    font-size: 0.9em;
    font-family: 'Shadows Into Light', cursive;
    border-radius: 4px;
}

#welcome-msg {
    padding: 10px 5px 10px 5px;
    border: 1px solid orangered;
    border-radius: 3px;
    box-shadow: 1px 1px 1px #c2c2c2;
    color: #245674;
    font-family: 'Shadows Into Light', cursive;
    background-color: white;
}

.clear {
    clear: both;
}

#top-menu div {
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    background-color: orange;
    border-radius: 4px;
    color: black;
    height: 40px;
}

#top-menu div ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: inline-block;
    color: #fff;
}

#top-menu div ul li {
    float: left;
    height: 40px;
}

#top-menu div ul a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    display: block;
    height: 20px;
    transition: .5s;
}

#top-menu div ul a:hover {
    color: #29a7e1;
    background: #ffffff;
}
#top-menu div ul a:active {
    background: #c7e6f5;
    color: #29a7e1;
}

#content {
	font-family: 'Shadows Into Light', cursive;
	border-radius: 5px;
	background-color: white;
	padding: 10px;
}

#layout {
	opacity: 0.9;
    filter: alpha(opacity=90);
	font-family: 'Shadows Into Light', cursive;
}

table, th, tr, td {
    text-align: left;
    padding: 8px 15px 8px 15px;
    border: 1px solid darkblue;
    width: 32px;
    border-radius: 5px;
    font-family: 'Shadows Into Light', cursive;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-style: groove;
    border-width: 5px;
}

th, tr, td {
    border-style: outset;
    border-width: 3px;
    background-color: #29a7e1;
}

html, body {
    width: 100%;
}

button {
    color:#fff;
	background-color: orange;
	border: 1px solid #fff;
    border-radius: 5px;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Shadows Into Light', cursive;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Shadows Into Light', cursive;
}

input[type=submit]:hover {
    background-color: skyblue;
    font-family: 'Shadows Into Light', cursive;
}